# Configuration for MetFrag
################################################################################

#Folder where the .txt file(s) are in
folder = /home/swolf/MassBankData/testDataSingle/


#Read the complete folder? If false then the filename is used!
folderRead = true

#Test run on KEGG?
KEGG = true
PubChem = false

#Hierarchical procedure....Testing...do not enable
Hierarchical = false

#mzabs and mzppm		
mzabs = 0.01
mzppm = 50
searchppm = 10
#mzabs = 0.002
#mzppm = 10


#Write PDF Output? Needs lots of memory
pdf = false
#Show graphical output?
showDiagrams = false
#Recreate the fragments....if there is already a folder
recreateFrags = true
#Break aromatic rings?
breakAromaticRings = true
#Comment for log file
comment = KEGG test run! with 10ppm max 1500 structures. Treedepth = 3
#Create Pictures for Tree view
createTree = false
#sum formula based redundancy check
sumFormulaRedundancyCheck = true
#compute all fragments until a treedepth is reached....for now treedepth =  2 --> 1
treeDepth = 2
#experimental hydrogen shift rule...allow the mass to be - proton TODO
hydrogenTest = true
#neutral loss add in every layer?
neutralLossAdd = false
#bond energy scoring?
bondEnergyScoring = false
#break only bonds which will most likely break
breakOnlySelectedBonds = false
#maximum neutral loss combination
maximumNeutralLossCombination = 3
#chemspider token for webservice
chemspiderToken = todo


#local kegg mol files
keggPath = /vol/data/pathways/kegg/mol/
#use parallel threads?
threads = 1

#pubchem databse connection
#JDBC URL
jdbc = jdbc:mysql://todo
#Username
username = user
#Password 
password = pass


